/* -----------------------------------------------------------*\
	BASE
\* -----------------------------------------------------------*/
/* Base */
* {
  box-sizing: border-box;
  outline: none; }

body {
  height: 100%;
  background-color: #4FAED1; }

.srt {
  text-indent: -999999px; }

/* Typography */
html,
body,
a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #666; }

/* Shared styles */
#video-container, #video-container:before, #video-player, #video-controls, #video-controls .progress, .captions-menu li button, #content-container {
  width: 100%; }

#video-controls, #button-container, #button-container button, input[type=range]::-webkit-slider-thumb, .captions-menu, #video-captions .caption-cue {
  -webkit-transition: all .3s;
  transition: all .3s; }

figure, .captions-menu {
  margin: 0;
  padding: 0; }

video::-webkit-media-controls-enclosure, #button-container #playback-indicator, #button-container input[type=range], #button-container input#volume-bar {
  display: none; }

#video-container #video-controls > *:not(#progress-container), .captions-menu[data-state=hidden] {
  visibility: hidden;
  opacity: 0; }

#video-container:hover #video-controls > *:not(#progress-container), .captions-menu[data-state=visible] {
  visibility: visible;
  opacity: 1; }

input[type=range], input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

/* -----------------------------------------------------------*\
	COMPONENTS
\* -----------------------------------------------------------*/
/* Video */
#video-container {
  position: relative;
  overflow: hidden;
  position: relative; }
  #video-container:before {
    display: block;
    padding-top: 56.25%;
    content: ''; }
  #video-container > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #video-container:hover #video-controls {
    height: 75px;
    opacity: .9;
    background: -webkit-linear-gradient(bottom, black, transparent);
    background: linear-gradient(to top, black, transparent); }

#video-controls {
  position: absolute;
  z-index: 2147483647;
  bottom: 0;
  display: block;
  height: 25px;
  padding: 10px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent); }
  #video-controls .progress {
    cursor: pointer;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.15); }
  #video-controls #progress-bar,
  #video-controls #buffer-bar {
    display: inline-block;
    float: left;
    width: 0%;
    height: 100%; }
  #video-controls #progress-bar {
    background-color: #FF9900; }
  #video-controls #buffer-bar {
    background-color: rgba(255, 255, 255, 0.3); }

#button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px;
  opacity: 0;
  border: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #button-container #time-indicator,
  #button-container #current-time-indicator,
  #button-container #duration-indicator {
    display: inline;
    color: white; }
  #button-container #time-indicator {
    margin: 0 5px; }
  #button-container #seek-bar {
    width: 360px; }
  #button-container #volume-bar {
    width: 60px; }
  #button-container button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    opacity: .75;
    color: #eee;
    border: 0;
    border-radius: 3px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center; }
    #button-container button#captions {
      font-weight: bold; }
    #button-container button#playpause, #button-container button#playpause[data-state=paused] {
      background-image: url("../icons/play-icon.svg"); }
    #button-container button#playpause[data-state=playing] {
      background-image: url("../icons/pause-icon.svg"); }
    #button-container button#stop {
      background-image: url("../icons/stop-icon.svg"); }
    #button-container button#mute, #button-container button#mute[data-state=sound] {
      background-image: url("../icons/volume-on-icon.svg"); }
    #button-container button#mute[data-state=muted] {
      background-image: url("../icons/volume-off-icon.svg"); }
    #button-container button#full-screen {
      background-image: url("../icons/fullscreen-icon.svg"); }
    #button-container button:hover, #button-container button:focus {
      opacity: 1; }
  #button-container input[type=range], #button-container input#volume-bar {
    width: 15%; }
  @media screen and (min-width: 569px) {
    #button-container #button-container {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    #button-container #playback-indicator {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 5px;
      color: white; }
    #button-container button#captions {
      margin-left: auto; }
    #button-container input[type=range] {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 5px; }
    #button-container input#volume-bar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    #button-container input#volume-bar[disabled=disabled] {
      opacity: .5; } }

/* Sliders */
input[type=range] {
  width: 100%;
  margin: 18px 0;
  background: rgba(255, 255, 255, 0.15); }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent; }

input[type=range]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transform: translateY(-34%);
          transform: translateY(-34%);
  opacity: .75;
  border-radius: 50%;
  background: white; }

input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:focus::-webkit-slider-thumb {
  opacity: 1; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.15); }

input[type=range]::-moz-range-track {
  height: 5px;
  cursor: pointer;
  outline: none;
  background: rgba(255, 255, 255, 0.15); }

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: .75;
  border: none;
  border-radius: 50%;
  outline: none;
  background: white; }

input[type=range]:hover::-moz-range-thumb,
input[type=range]:focus::-moz-range-thumb {
  opacity: 1; }

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15); }

input[type=range]::-ms-fill-lower {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15); }

input[type=range]::-ms-fill-upper {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15); }

input[type=range]::-ms-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
  background: white; }

input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.15); }

input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.15); }

/* Captions controls */
.captions-menu {
  position: absolute;
  bottom: 80px;
  display: inline-block;
  list-style-type: none;
  background: transparent; }

.captions-menu li {
  padding: 0;
  text-align: center; }

.captions-menu li button {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0.5); }
  .captions-menu li button:hover, .captions-menu li button:focus {
    color: black;
    background-color: #FF9900; }

/* Captions HTML */
#video-captions {
  padding: 20px;
  background-color: white;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1; }
  #video-captions p {
    font-size: 14px;
    line-height: 1.7;
    display: inline; }
    #video-captions p:first-child {
      margin-top: 0; }
    #video-captions p:last-child {
      margin-bottom: 0; }
  #video-captions .caption-cue {
    text-decoration: none; }
    #video-captions .caption-cue[data-state=active] {
      color: #FF9900;
      background-color: rgba(255, 153, 0, 0); }
    #video-captions .caption-cue[data-state=active]:hover, #video-captions .caption-cue[data-state=active]:focus {
      background-color: rgba(255, 153, 0, 0.25); }
    #video-captions .caption-cue:hover, #video-captions .caption-cue:focus {
      background-color: #ddd; }
  @media screen and (min-width: 569px) {
    #video-captions {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 20px;
         -moz-column-gap: 20px;
              column-gap: 20px; } }
  @media screen and (min-width: 1025px) {
    #video-captions {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3; } }

/* -----------------------------------------------------------*\
	LAYOUT
\* -----------------------------------------------------------*/
/* Grid */
#content-container {
  max-width: 1024px;
  margin: 0 auto; }
