/* Shared styles */

%full-width {
    width: 100%;
}

%float-right {
    float: right;
}

%transition {
    transition: all .3s;
}

%no-margin-padding {
    margin: 0;
    padding: 0;
}

%no-display {
    display: none;
}

%flex {
    display: flex;
}

%hide {
    visibility: hidden;
    opacity: 0;
}

%show {
    visibility: visible;
    opacity: 1;
}
%no-webkit-appearance {
      -webkit-appearance: none;
}
%opacity-3-quarter {
    opacity: .75;
}
%opacity-full {
    opacity: 1;
}