/* Captions controls */

.captions-menu {
    position: absolute;
    bottom: 80px;
    display: inline-block;
    list-style-type: none;
    background: transparent;
    @extend %transition;
    @extend %no-margin-padding;
    &[data-state=hidden] {
        @extend %hide;
    }
    &[data-state=visible] {
        @extend %show;
    }
}

.captions-menu li {
    padding: 0;
    text-align: center;
}

.captions-menu li button {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: none;
    background: rgba(0, 0, 0, .5);
    @extend %full-width;
    &:hover,
    &:focus {
        color: black;
        background-color: $orange-peel;
    }
}


/* Captions HTML */

#video-captions {
    padding: 20px;
    background-color: white;
    column-count: 1;
    p {
        font-size: 14px;
        line-height: 1.7;
        display: inline;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .caption-cue {
        text-decoration: none;
        @extend %transition;
        &[data-state=active] {
            color: $orange-peel;
            background-color: rgba($orange-peel, 0);
        }
        &[data-state=active]:hover,
        &[data-state=active]:focus {
            background-color: rgba($orange-peel, .25);
        }
        &:hover,
        &:focus {
            background-color: #ddd;
        }
    }
    @media screen and (min-width: 569px) {
        column-count: 2;
        column-gap: 20px;
    }
    @media screen and (min-width: 1025px) {
        column-count: 3;
    }
}
