video::-webkit-media-controls-enclosure {
    @extend %no-display;
}

#video-controls {
    position: absolute;
    z-index: 2147483647;
    bottom: 0;
    display: block;
    height: 25px;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0));
    @extend %full-width;
    @extend %transition;
    .progress {
        overflow: hidden;
        height: 5px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, .15);
        @extend %full-width;
    }
    #progress-bar,
    #buffer-bar {
        display: inline-block;
        float: left;
        width: 0;
        height: 100%;
    }
    #progress-bar {
        background-color: $orange-peel;
    }
    #buffer-bar {
        background-color: rgba(255, 255, 255, .3);
    }
}

#button-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    opacity: 0;
    border: none;
    justify-content: space-between;
    align-items: center;
    @extend %transition;
    #time-indicator,
    #current-time-indicator,
    #duration-indicator {
        display: inline;
        color: white;
    }
    #time-indicator {
        margin: 0 5px;
    }
    #playback-indicator {
        @extend %no-display;
    }
    #seek-bar {
        width: 360px;
    }
    #volume-bar {
        width: 60px;
    }
    button {
        display: flex;
        min-width: 30px;
        height: 30px;
        margin: 0 5px;
        cursor: pointer;
        opacity: .75;
        color: #eee;
        border: 0;
        border-radius: 3px;
        background: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        @extend %transition;
        &#captions {
            font-weight: bold;
        }
        &#playpause,
        &#playpause[data-state=paused] {
            background-image: url('#{$path-icons}/play-icon.svg');
        }
        &#playpause[data-state=playing] {
            background-image: url('#{$path-icons}/pause-icon.svg');
        }
        &#stop {
            background-image: url('#{$path-icons}/stop-icon.svg');
        }
        &#mute,
        &#mute[data-state=sound] {
            background-image: url('#{$path-icons}/volume-on-icon.svg');
        }
        &#mute[data-state=muted] {
            background-image: url('#{$path-icons}/volume-off-icon.svg');
        }
        &#full-screen {
            background-image: url('#{$path-icons}/fullscreen-icon.svg');
        }
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    input {
        &[type=range],
        &#volume-bar {
            width: 15%;
            @extend %no-display;
        }
    }
    @media screen and (min-width: 569px) {
        #button-container {
            justify-content: flex-start;
        }
        #playback-indicator {
            display: flex;
            margin: 0 5px;
            color: white;
        }
        button {
            &#captions {
                margin-left: auto;
            }
        }
        input {
            &[type=range] {
                display: flex;
                margin: 0 5px;
            }
            &#volume-bar {
                display: flex;
            }
            &#volume-bar[disabled=disabled] {
                opacity: .5;
            }
        }
    }
}
