video::-webkit-media-controls-enclosure {
    display: none !important;
}

#video {
    &-container {
        position: relative;
        overflow: hidden;
        @extend %full-width;
        &:hover {
            #video-controls {
                opacity: .9;
            }
        }
    }
    &-controls {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 2147483647;
        bottom: 0;
        padding: 5px;
        background: rgba(0, 0, 0, 0.5);
        height: 60px;
        @extend %full-width;
        transition: opacity .3s;
        // opacity: 0;
        progress,
        .progress,
        #progress {
            display: block;
            width: 100%;
            height: 10px;
            background-color: orange;
        }
        #time-indicator,
        #current-time-indicator,
        #duration-indicator {
            display: inline;
            color: white;
        }
    }
}

button {
    color: #eee;
    border: 0;
    border-radius: 3px;
    background: rgba(0, 0, 0, .5);
    &:hover {
        cursor: pointer;
    }
}

#seek-bar {
    width: 360px;
}

#volume-bar {
    width: 60px;
}
